<button>
  <a href="<?php echo $this->getUrl('wsproductsgrid/contacts/new/')?>">Add Tier Price</a>
</button>
<?php
  $pro_edit_id = $block->getProduct()->getId();
  if($pro_edit_id){
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
    $connection = $resource->getConnection();
    $tableName = $resource->getTableName('webspeaks_product_attachment_rel');
    $tableName2 = $resource->getTableName('webspeaks_contact');
    // SELECT DATA
    $sql = "SELECT contact_id FROM " . $tableName. " where product_id = ".$pro_edit_id ;
    $contactid = $connection->fetchAll($sql); 
    // echo '<pre>'; print_r($sql); echo '</pre>'; 
    //echo '<pre>'; print_r($contactid); echo '</pre>'; 
    $count_id = count($contactid);
    //exit;
    if ($count_id > 0){
    //$c_id = $contactid[0]['contact_id'];
    ?>
      <div class="container"> 
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Production</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <?php
            foreach ($contactid as $key => $value) {
              $c_id = $value['contact_id'];
              $sql = "SELECT * FROM " . $tableName2. " where contact_id = ". $c_id ;
              $result = $connection->fetchAll($sql); 
              //echo '<pre>'; print_r($sql); echo '</pre>'; 
              //echo '<pre>'; print_r($result); echo '</pre>'; 
              foreach ($result as $tierdata) { ?>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                <tr>
                  <td><?php echo $tierdata['contact_id']; ?> </td>
                  <td><?php echo $tierdata['contact_name']; ?></td>
                  <td><?php echo $tierdata['age']; ?></td>
                  <td><?php echo $tierdata['phone']; ?></td>
                  <td><a href="<?php echo $this->getUrl('wsproductsgrid/contacts/edit/contact_id/'.$tierdata['contact_id'])?>">Edit</a></td>
                </tr>
                <?PHP 		
              } 
            } 
          ?>
          </tbody>
        </table>
      </div>
    <?php
    }
  }
  else{
    echo "We couldn't find any records.";
  }
?>

